---
import type { Dino } from "../../types/dino.types";
import Triassic from "../../public/iconos/game-icons--dinosaur-bones.svg";
import Jurassic from "../../public/iconos/ri--flower-fill.svg";
import Cretaceous from "../../public/iconos/game-icons--pine-tree.svg";

const { dino } = Astro.props;
const imageDefault = "/images/default.webp";
let color = "card-red";
const {
  nombre,
  tipo,
  periodo,
  longitud_aproximada,
  peso_aproximado,
  descripcion,
  imagen_url,
  image_position,
} = dino as Dino;

if (periodo.includes("Jurásico")) {
  color = "card-orange";
} else if (periodo.includes("Cretácico")) {
  color = "card-green";
}

// const chipText = periodo.includes("Jurásico")
//   ? "Jurásico"
//   : periodo.includes("Cretácico")
//     ? "Cretácico"
//     : "Triásico";

// const chipColor = periodo.includes("Jurásico")
//   ? "chip-orange"
//   : periodo.includes("Cretácico")
//     ? "chip-green"
//     : "chip-red";
---

<div
  class={color + " card"}
  data-dieta={tipo}
  data-era={periodo}
>
  <!-- <div class={`card__chip ${chipColor}`}>
    {
      periodo.includes("Jurásico") ? (
        <Jurassic width={15} />
      ) : periodo.includes("Cretácico") ? (
        <Cretaceous width={15} />
      ) : (
        <Triassic width={15} />
      )
    }
    <p>{chipText}</p>
  </div> -->
  <div class="card__img__cont">
    <img
      src={imagen_url || imageDefault}
      alt={nombre}
      class={image_position + " card__img"}
    />
  </div>
  <div class="card__text">
    <h3 class="card__title">{nombre}</h3>
    <div class="card__info__cont">
      <div class="card__info">
        <p class="card__type"><span>Dieta:</span> {tipo}</p>
        <p class="card__weight"><span>Peso:</span> {peso_aproximado}</p>
        <p class="card__age"><span>Período:</span> {periodo}</p>
        <p class="card__length"><span>Tamaño:</span> {longitud_aproximada}</p>
      </div>
      <div class="card__desc__cover">
        <p class="card__desc">{descripcion}</p>
      </div>
    </div>
    <p class="card__subtitle">
      Descripción<i class="fa-solid fa-chevron-right"></i>
    </p>
  </div>
</div>

<style>
  .card {
    background-color: var(--primary-hover);
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: top;
    max-width: 400px;
    width: 100%;
    position: relative;
  }
  /* .card__chip {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    backdrop-filter: blur(2px);
    color: var(--white);
    padding: 0.5rem 1rem;
    font-size: small;
    border-top-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    z-index: 10;
  }
  .chip-orange {
    background-color: var(--primary-color-glow);
  }
  .chip-green {
    background-color: var(--green-glow);
  }
  .chip-red {
    background-color: var(--secondary-color-glow);
  } */

  .card-red {
    background-color: var(--secondary-hover);
    .card__type,
    .card__weight,
    .card__age,
    .card__length {
      background-color: var(--secondary-color);
      padding: 0.3rem 0.8rem;
    }
    .card__desc__cover {
      background-color: var(--secondary-hover);
    }
    .card__info {
      &::-webkit-scrollbar-track {
        background-color: var(--secondary-color);
      }
    }
  }
  .card-orange {
    background-color: var(--primary-hover);
    .card__type,
    .card__weight,
    .card__age,
    .card__length {
      background-color: var(--primary-color);
      padding: 0.3rem 0.8rem;
    }
    .card__desc__cover {
      background-color: var(--primary-hover);
    }
    .card__info {
      &::-webkit-scrollbar-track {
        background-color: var(--primary-color);
      }
    }
  }
  .card__info__cont {
    display: flex;
    overflow: hidden;
    gap: 1rem;
    opacity: 1;
  }
  .card-green {
    background-color: var(--dark-green);
    .card__type,
    .card__weight,
    .card__age,
    .card__length {
      background-color: var(--green);
      padding: 0.3rem 0.8rem;
    }
    .card__desc__cover {
      background-color: var(--dark-green);
    }
    .card__info {
      &::-webkit-scrollbar-track {
        background-color: var(--green);
      }
    }
  }
  .card__type,
  .card__weight,
  .card__age,
  .card__length {
    background-color: var(--secondary-color);
    padding: 0.3rem 0.8rem;
  }
  .card__subtitle {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    border: 2px solid var(--light-grey);
    padding: 0.2rem 1rem;
    width: fit-content;
    border-radius: 0.5rem;
    font-weight: 500;
    transition: all 0.2s ease-in-out;
    user-select: none;
    margin-top: 1rem;
    min-width: 145.67px;
    i {
      transition: all 0.3s ease-in-out;
    }
    &:hover {
      background-color: rgba(0, 0, 0, 0.2);
    }
  }

  .card__desc__cover {
    transition: all 0.3s ease-in-out;
    min-width: 100%;
    opacity: 0;
  }
  .card__desc__cover--active {
    transform: translateX(calc(-100% - 1rem));
    transition: all 0.3s ease-in-out;
    opacity: 1;
  }
  .card__info__cont--active {
    transform: translateX(-100%);
    transition: all 0.3s ease-in-out;
    opacity: 0;
  }
  .card__info {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    max-height: 158.38px;
    overflow-y: auto;
    padding-right: 0.3rem;
    min-width: 100%;
    transition: all 0.3s ease-in-out;
    &::-webkit-scrollbar {
      width: 8px;
      height: 10px;
    }
    &::-webkit-scrollbar-thumb {
      background-color: var(--light-grey);
      border-radius: 3px;
    }
  }
  .card__subtitle--active {
    i {
      transform: rotate(180deg);
    }
  }
  .card__text {
    padding: 1rem 1.5rem 1rem 1.5rem;
    color: var(--white);
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    position: relative;
    width: 100%;
    span {
      font-weight: 600;
    }
  }
  .card__title {
    font-size: 1.8rem;
    font-weight: 500;
    &:after {
      content: "";
      display: block;
      width: 15%;
      height: 4px;
      border-radius: 2px;
      background-color: var(--white);
      transition: width 0.5s;
    }
  }
  .card__img__cont {
    overflow: hidden;
    min-height: 250px;
    max-height: 250px;
    width: 100%;
    border-radius: 0.5rem 0.5rem 0 0;
  }

  .card__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition:
      transform 0.6s ease,
      filter 0.6s ease;
  }
  .card__img--left {
    object-position: left;
  }
  .card__img--right {
    object-position: right;
  }
  @media (width > 768px) {
    .card {
      transition: all 0.3s ease;
      &:hover .card__img {
        transform: scale(1.07);
        filter: brightness(0.8);
      }
      &:hover .card__title {
        &:after {
          width: 30%;
        }
      }
    }
  }
</style>

<script>
  const subtitles = document.querySelectorAll(".card__subtitle");
  const info = document.querySelectorAll(".card__info");
  const desc = document.querySelectorAll(".card__desc__cover");

  subtitles.forEach((subtitle, index) => {
    subtitle.addEventListener("click", () => {
      desc[index].classList.toggle("card__desc__cover--active");
      info[index].classList.toggle("card__info__cont--active");
      subtitles[index].classList.toggle("card__subtitle--active");
      const text = subtitle.firstChild?.textContent?.trim() ?? "";
      if (subtitle.firstChild) {
        subtitle.firstChild.textContent =
          text === "Descripción" ? "General" : "Descripción";
      }
    });
  });
</script>
