---
import EraCard from "./cards/EraCard.astro";

const cards = [
  {
    title: "Triásico",
    subtitle: "(hace 252 a 201 millones de años)",
    list: [
      "Comienzo de los primeros dinosaurios.",
      "Clima cálido y seco, con un solo supercontinente: Pangea.",
      "Ejemplos: Coelophysis, Eoraptor.",
    ],
    image: "/ages-section/triasico.webp",
    link: { href: "/periodos#triasico", text: "Más información" },
  },
  {
    title: "Jurásico",
    subtitle: "(hace 201 a 145 millones de años)",
    list: [
      "Los dinosaurios se diversifican y dominan la Tierra.",
      "Aparición de los primeros dinosaurios voladores (como Pterodáctilos) y aves primitivas.",
      "Ejemplos: Stegosaurus, Allosaurus, Brachiosaurus.",
    ],
    image: "/ages-section/jurasico.webp",
    link: { href: "/periodos#jurasico", text: "Más información" },
  },
  {
    title: "Cretácico",
    subtitle: "(hace 145 a 66 millones de años)",
    list: [
      "Aparecen muchos de los dinosaurios más conocidos.",
      "División de continentes y evolución de plantas con flores.",
      "Finaliza con una extinción masiva (probablemente causada por un asteroide).",
      "Ejemplos: Tyrannosaurus rex, Triceratops, Velociraptor.",
    ],
    image: "/ages-section/cretacico.webp",
    link: { href: "/periodos#cretacico", text: "Más información" },
  },
];
---

<section class="eras">
  <div class="eras__cont">
    <h2 class="eras__title">¿Cuándo vivieron los Dinosaurios?</h2>
    <p class="eras__desc">
      Los dinosaurios no vivieron todos al mismo tiempo. Se desarrollaron,
      evolucionaron y desaparecieron a lo largo de tres grandes periodos dentro
      de la <span>Era Mesozoica</span>:
    </p>
    <div class="eras__grid">
      {
        cards.map((card) => (
          <EraCard
            title={card.title}
            subtitle={card.subtitle}
            list={card.list}
            image={card.image}
            link={card.link}
          />
        ))
      }
    </div>
    <article class="eras__ending">
      <div class="eras__ending__text">
        <p class="eras__ending__desc">
          Los dinosaurios reinaron sobre la Tierra durante más de <span
            >160 millones de años</span
          >, adaptándose a todo tipo de ambientes, desde desiertos hasta selvas
          costeras. Pero incluso los gigantes más imponentes enfrentaron su fin.
        </p>
        <p class="eras__ending__desc">
          Al cierre del <span>periodo Cretácico</span>, el mundo cambió de forma
          repentina y violenta. Algo ocurrió que transformó el planeta para
          siempre... y puso fin al reinado de los dinosaurios.
        </p>
      </div>
      <img
        src="/ages-section/footer/extincion.png"
        alt=""
        class="eras__ending__img"
      />
    </article>
  </div>
</section>

<style>
  .eras {
    padding: 5rem 0;
    background-color: var(--light-black);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--white);
    .eras__cont {
      max-width: 90%;
      margin: 0 auto;
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      .eras__title {
        font-size: 2.4rem;
        margin-bottom: 1rem;
        &:after {
          content: "";
          display: block;
          width: 100px;
          height: 4px;
          background-color: var(--white);
          margin: 0.5rem auto;
          border-radius: 2px;
        }
      }
      .eras__desc {
        font-size: 1.1rem;
        color: var(--light-grey);
        margin-bottom: 2rem;
        max-width: 60ch;
        span {
          color: var(--white);
          font-weight: 600;
        }
      }
      .eras__grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        gap: 2rem;
        justify-items: center;
        width: 100%;
      }
      .eras__ending {
        font-size: 1.1rem;
        color: var(--light-grey);
        line-height: 1.6;
        margin-top: 2rem;
        text-align: left;
        background: linear-gradient(
          to bottom,
          var(--primary-hover),
          var(--secondary-hover)
        );
        padding: 1.5rem;
        border-radius: 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        .eras__ending__img {
          width: 100%;
          max-width: 20rem;
          height: auto;
          border-radius: 1rem;
        }
        .eras__ending__text {
          max-width: 50ch;
        }
        .eras__ending__desc {
          margin-bottom: 1rem;
        }
        span {
          color: var(--white);
          font-weight: 600;
        }
      }
    }
  }
  @media (width > 768px) {
    .eras {
      .eras__cont {
        max-width: 1200px;
        width: 90%;
        .eras__grid {
          grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        }
        .eras__title {
          font-size: 3rem;
        }
        .eras__ending {
          flex-direction: row;
          max-width: unset;
          background: linear-gradient(
            to right,
            var(--primary-hover),
            var(--secondary-hover)
          );
          .eras__ending__img {
            max-width: 18rem;
          }
        }
      }
    }
  }
</style>
